.register_and_be_part_community_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 7rem;
}

.register_and_be_part_community_container_bg {
	position: relative;
}

.register_and_be_part_community_container_bg_image_2 {
	position: absolute;
	bottom: 15%;
	left: 5%;
	width: 90%;
}

.register_and_be_part_community_sub_container {
}

.register_and_be_part_community_text h1 {
	font-weight: 700;
	font-size: 30px;
	text-align: center;
}

.register_and_be_part_community_text p {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 5rem;
}

.register_and_be_part_community_btn button {
	border: 2px solid #a25ce3;
	background-color: transparent;
	color: #a25ce3;
	padding: 10px 50px;
	border-radius: 100px;
	cursor: pointer;
	font-size: 20px;
}

@media only screen and (max-width: 767px) {
	.register_and_be_part_community_container_bg_image_2 {
		width: 95%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.register_and_be_part_community_container_bg_image_2 {
		width: 95%;
	}
}
